:root {
    --custom-1: #D93D4A;
    --custom-2: #F2CED1;
    --custom-3: #049DBF;
    --custom-4: #F2C84B;
    --custom-5: #D98E04;
}

em {
    color: var(--custom-4);
}

figure {
    border-color: var(--custom-4);
}

label {
    display: flex;
    flex-direction: column;
}

label small {
    margin-top: 0.25rem;
    order: 1;
}

label input {
    margin-top: 0.5rem;
}

.list-with-margin strong {
    font-size: 1.1em;
}
