:root {
    --custom-1: #049DBF;
    --custom-2: #F2CED1;
    --custom-3: #D93D4A;
    --custom-4: #F2C84B;
    --custom-5: #D98E04;
}

em {
    color: var(--custom-4);
}

figure {
    border-color: var(--custom-4);
}

label {
    display: flex;
    flex-direction: column;
}

label small {
    margin-top: 0.25rem;
    order: 1;
}

label input {
    margin-top: 0.5rem;
}

.duration-container {
    background: white;
    border: 2px solid var(--custom-1);
    display: inline-flex;
    width: 320px;
}

.duration-container label {
    align-items: baseline;
    display: flex;
    flex-direction: row-reverse;
}

.duration-container * + label {
    margin-top: 0;
}

.duration-container input {
    box-sizing: content-box;
    border: none;
    margin: 0;
    text-align: right;
    width: 2ch;
}

.duration-container input:focus {
    background: var(--custom-2);
    box-shadow: none;
}

.duration-container input[type="number"] {
    -moz-appearance: textfield;
}

.duration-container input::-webkit-outer-spin-button,
.duration-container input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}